

body{
    font-family: 'Cairo', sans-serif;
    margin: 0;
  
    background-color: #f3f4f6;
    color: #1f2937;
}
header{
    background: linear-gradient(135deg, #1E3A8A , #3B82F6);
    color: white;
    text-align: center;
    padding: 40px 20px;
}


header h1{
        font-size: 2.5rem;
        margin-bottom: 10px;
}

header p{
    font-size: 1.2rem;
}

a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
   
}


h2 {
    color: #1E3A8A;
    border-bottom: 2px solid #3B82F6;
    padding-bottom: 5px;
}


section div {
    background: #E0E7ff;
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
    color: #1E3A8A;
    font-weight: 700;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header {
        padding: 30px 20px;
    }

header h1 {
    font-size: 2em;
}


section {
    padding: 20px;
}
.project-card {
    width: 90%;
}

}




.skill-card, .project-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill-card:hover, .project-card:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #2980b9;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.project-link {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0,123,255,0.3);
}


.project-link:hover {
    background: linear-gradient(135deg, #0056b3, #003f7f);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,123,255,0.4);
}



.project-card {
    margin: 20px;
}









